import("MASS", "reshape", "stats", "graphics")
importFrom("plyr", "alply")
importFrom("grDevices", "chull")
importFrom("utils", "head")

export(med1way)
export(med2way)
export(t1way)
export(t1waybt)
export(t2way)
export(t3way)
export(rmanova)
export(rmanovab)
export(ancova)
export(ancboot)
export(tsplit)
export(sppba)
export(sppbb)
export(sppbi)
export(yuen)
export(yuenbt)
export(pb2gen)
export(pbad2way)
export(mcp2atm)
export(mcp2a)
export(lincon)
export(mcppb20)
export(rmmcp)
export(pairdepb)

S3method(print, med1way)
S3method(print, t1way)
S3method(print, t1waybt)
S3method(print, t2way)
S3method(print, t3way)
S3method(print, rmanovab)
S3method(print, ancova)
S3method(print, spp)
S3method(print, yuen)
S3method(print, mcp)
S3method(print, mcp1)
S3method(model.matrix, mcp)